
body{
	background-image:url(../img/card.jpeg); 
	padding-top:5em;
	font-family: 'Satisfy', cursive;
	margin-top:2em;
}

nav{
	background-color:#F5C821;
	font-size: 25px;  
	text-shadow: 2px 2px #FFFFFF; 
}
.navbar-brand{
	font-size:30px ;
}
section{
	padding:2em; 
}
.jumbotron{
	background-image: url(../img/jumboimg.jpg);
	background-size:100% 100%;object-fit:cover; 
	height: 100vh;  
	background-repeat: no-repeat;
}
#divh1{
	color:orange;
	text-align:center;
	font-size:55px;
	padding-top:60vh;
	text-shadow: 1px 1px #ccccb3;
}

#article1{
	text-align:center; 
	padding:5em; 
	margin:auto; 
	color:gray; 
}

.card-body{
	background-color: #F5C821; 
	text-align:center; 
	padding:2em;
}

.card-title{
	color:gray; 
	text-shadow: 2px 2px #000000;
}

.card-text{
	color:gray;
}

footer .fa{
	text-align:center;
	padding:15px ;
	color:#F5C821;
	font-size: 30px; 
}

.cp{
	background-color:white;
	text-align:center;
	font-size:10px;
} 

/*menu.html*/

#menu{
	color:gray;
	padding:1em;
}

.pmenu{
	font-family: italic;
	color:orange;
}

q{
	font-size:25px;
	color:gray; 
}
.divmenu{
	padding:2em;
}

/*contact.html*/

.btn{
background-color:#F5C821;
}

